*{
    padding:0;
    margin: 0;
}


body{
    background-image:linear-gradient(rgb(67, 67, 67),silver);
    
    /*  background-image: url(./Carpeta\ Nupicks/fondoGuitarr.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
}

.marcos{ 
    border: 2px black solid;
}



/*------------------ COMIENZAN ESTILOS HEADER ----------*/

.logo_pua{ 
    width: 100px;

}



.navbar__links{
    text-decoration: none;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 150%;
    margin: 0 .5rem;
    padding: .3rem .5rem;
    border-radius: 15px;
    
    transition:.3s;
    


}

.links__container{

    transition:.5s;




}


.navbar{
    background-image:radial-gradient(silver,black);
    padding: 1.5rem;
    
}


.navbar__links:hover {
    background-image: linear-gradient(to right,silver, #A7BEC3);
    color:black;
    box-shadow: 1px 2px 15px black;
    
}

.links__container:hover{
    
    border-radius: 15px;
    transform: scale(1.2) /* rotate(720deg) */;
}





/*---------- COMIENZAN ESTILOS MAIN --------------*/

/*======================= INDEX ================*/

.imagen__tamaño{
    width: 100%;

}
.iframe__tamaño{
    width: 100%;
    height: auto;
}
.font__title{
    
    font-size: 2rem;
    color:rgba(0, 0, 0, 0.898);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
.carousel__container{
    margin: 2rem;
    margin-bottom: 4rem;

    
}






/*---------- HISTORIA--------------*/

.historiaContainer{
    background-image:linear-gradient(silver,rgb(67, 67, 67));
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.galeriaHistoria{
    margin-top: 2rem;
    margin-bottom: 50px;
    gap: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    background-image: radial-gradient(silver,rgba(0, 0, 0, 0.73));
    color:rgba(0, 0, 0, 0.898);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    border: 2px  #000000 solid;
}

/*---------- PRODUCTOS-------------*/

.color__Card{
    background-image: radial-gradient(silver,rgba(0, 0, 0, 0.73));


}

.size__img{
    width: 2rem;
}


/* ----------- FAQ ------------- */

.faq__grid {
    display: grid;
    place-items:center;
    height: 100vh;
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    color:rgba(0, 0, 0, 0.898);
}


.preguntas__title {
    grid-column: 1 / 3;
}

.pregunta__description {
    margin-bottom: 20px;
}

.faq__titulo{
    margin: 2rem
}
.faq__pregunta,
.faq__respuesta {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* --------------------- CONTACTO ------------ */ 
.contacto-main{
    color:rgba(0, 0, 0, 0.898);
    display:flex;
    padding: 3rem;
    
    
}
.limpiar{
        list-style-type: none;
}



/*----------------  COMIENZAN ESTILOS FOOTER --------*/
footer{
    position: fixed;
    bottom: 0;
    width:100%;
    height: 50px;
    background-image:radial-gradient(silver,black);
    display: flex;
    justify-content: space-between;
    border: 2px black solid;
    p{
        display: flex;
        padding-right: 100px;
        align-items: center;
        justify-content: end;
        text-align: end;
        width: 55%;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 100%;
        color:#FFFFFF;
    }
    div{
        display: flex;
        align-items: center;
        justify-content: end;
        font-size: 200%;
        width: 40%;
        padding-right: 15px;
        gap: 8px;
            a{
            color: #25D366;
            }
            a{
            color: #3B5998;
            }
    }
}

.facewa{
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 200%;
    width: 40%;
    padding-right: 15px;
    gap: 8px;
}

.dev{
    display: flex;
    padding-right: 100px;
    text-align: center;

    justify-content: center;
    width: 55%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    color:#FFFFFF;
}

.fa-facebook{
    color: #3B5998;
}

.fa-whatsapp{
    color: #25D366;
} 
.pick__card{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem

}


/* ================== MEDIA QUERIES ============= */
.grid{

    display: grid;
    grid-template-columns: 30% 30% 40% ;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content ;
    grid-template-areas: 
    "...   ...    img1"
    "...   title1 img1"
    "...   ...    img1"
    "img2  ...    ..."
    "img2  ...   title2"
    "img2  ...    ..."
    "...   ...    img3"
    "...   title3 img3"
    "...   ...    img3"
    "img4  ...    ..."
    "img4  ...   title4"
    "img4  ...    ..."
    "...   ...    img5"
    "...   title5 img5"
    "...   ...    img5"

;
}


.grid .grid__title1{
    grid-area: title1;
}

.grid .grid__img1{
    grid-area: img1;
    margin-top: 1rem;
    }

.grid .grid__title2{
    grid-area: title2;

}
.grid .grid__img2{
    grid-area: img2;
    height: 400px;
}


.grid .grid__title3{
    grid-area: title3;

}
.grid .grid__img3{
    grid-area: img3;
}

.grid .grid__title4{
    grid-area: title4;

}
.grid .grid__img4{
    grid-area: img4;
    height: 400px;
}
.grid .grid__title5{
    grid-area: title5;

}
.grid .grid__img5{
    grid-area: img5;
}

           /* ------ DESKTOP ------------- */

@media screen and (max-width: 1279px)  {
    .grid {
        grid-template-columns: 40% 30% 30%;
        grid-template-rows: auto;
        grid-template-areas: 
        "...   ...    img1"
        "...   title1 img1"
        "...   ...    img1"
        "img2  ...    ..."
        "img2  ...   title2"
        "img2  ...    ..."
        "...   ...    img3"
        "...   title3 img3"
        "...   ...    img3"
        "img4  ...    ..."
        "img4  ...   title4"
        "img4  ...    ..."
        "...   ...    img5"
        "...   title5 img5"
        "...   ...    img5"
    }
     /* --INDEX-- */
    /* ---- PRODUCTOS --- */
    .pick__card{
        flex-direction: column;
        align-items: center;
}

    }

          /* ------- TABLET ---------- */


    
    /*-----  RESPONSIVE INDEX ------*/

    @media screen and (max-width: 768px) {
        .grid {
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-template-areas:
            "title1"
            "img1"
            "title2"
            "img2"
            "title3"
            "img3"
            "title4"
            "img4"
            "title5"
            "img5";
            
        }
        .pick__card{
            flex-direction: column;
            align-items: center;
        }
        
            

        
    }

    
/*     @media screen and (min-width: 769px) and (max-width: 1278px) {
        .grid {
            grid-template-columns: 40% 30% 30%;
            grid-template-rows: auto;
            grid-template-areas: 
            "...   ...    img1"
            "...   title1 img1"
            "...   ...    img1"
            "img2  ...    ..."
            "img2  ...   title2"
            "img2  ...    ..."
            "...   ...    img3"
            "...   title3 img3"
            "...   ...    img3"
            "img4  ...    ..."
            "img4  ...   title4"
            "img4  ...    ..."
            "...   ...    img5"
            "...   title5 img5"
            "...   ...    img5"
            
        }
    } */



    /* ------ RESPONSIVE FAQ ------*/
    .faq_grid {
        grid-template-columns: 1fr;
    }
    
    .preguntas___title {
        grid-column: auto;
    }
    /* ----- RESPONSIVE NAVBAR------ */

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    
    .navbar__cont {
        margin-top: 1rem;
    }
    
    .navbar__links {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 120%;
    }



          /* -------------- SMARTPHONE ------------ */

@media screen and (max-width: 480px) {

    /*-----  RESPONSIVE INDEX ------*/    

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "logo__pua"
        "title1"
        "img1"
        "title2"
        "img2"
        "title3"
        "img3"
        "title4"
        "img4"
        "title5"
        "img5";
        }
     /* ---- RESPONSIVE CONTACTO ----- */
    .contacto-main{
        flex-direction: column;
    }

    }
    /*-----  RESPONSIVE FAQ ------*/
    
    .faq-grid {
        grid-gap: 10px;
    }
    /* ---- RESPONSIVE PRODUCTOS ----- */



    /* RESPONSIVE NAVBAR -------*/
    
    .navbar {
        padding: 1rem;
    }
    
    .navbar__links {
        font-size: 100%;
    }

    /* .-------- RESPONSIVE FOOTER -----------. */

    .dev {
        font-size: 80%;
    }
    
    .facewa {
        font-size: 150%;
    }

    